server {
    listen 0.0.0.0:80;
    server_name localhost;

    {% if elk_nginx_ssl_certificate != ""
       and elk_nginx_ssl_certificate_key != "" %}
    listen 0.0.0.0:443 ssl;
    return 301 https://$server_name$request_uri;

    ssl_certificate {{ elk_nginx_ssl_certificate }};
    ssl_certificate_key {{ elk_nginx_ssl_certificate_key }};
    {% endif %}

    location / {
        proxy_pass http://127.0.0.1:5601/;
        proxy_redirect off;
        proxy_buffering off;
    }
}
