server {
    listen 0.0.0.0:80;
    server_name localhost;

    {% if elk_nginx_ssl_certificate != ""
       and elk_nginx_ssl_certificate_key != "" %}
    listen 0.0.0.0:443 ssl;
    return 301 https://$server_name$request_uri;

    ssl_certificate {{ elk_nginx_ssl_certificate }};
    ssl_certificate_key {{ elk_nginx_ssl_certificate_key }};

    # SSL config grabbed from https://cipherli.st/
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_ecdh_curve secp384r1;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 127.0.0.1 valid=300s;
    resolver_timeout 5s;
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    {% endif %}

    location / {
        proxy_pass http://127.0.0.1:5601/;
        auth_basic "Login to Kibana web interface";
        auth_basic_user_file /etc/nginx/conf.d/kibana.htpasswd;
        proxy_redirect off;
        proxy_buffering off;
    }
}
