[Unit]
Description=Kibana 4

[Service]
Type=simple
User={{ elk_nginx_user }}
Environment=CONFIG_PATH=/opt/kibana/config/kibana.yml
Environment=NODE_ENV=production
# Workaround to prevent OOM errors with kibana/node. Should be fixed in v4.4.
# Details: https://github.com/elastic/kibana/issues/5170
Environment=NODE_OPTIONS="--max-old-space-size=200" bin/kibana
ExecStart=/opt/kibana/node/bin/node /opt/kibana/src/cli

[Install]
WantedBy=multi-user.target

